*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e0f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}
